.manage-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense-info {
  margin-top: 50px;
  height: 60%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.options {
  margin-top: 25px;
  height: 17%;
  width: 25%;
  background-color: #f0f0f0;
  border-radius: 100px;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.options i {
  /* background-color: aliceblue; */
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

#minus-option {
  color: red;
  border: 10px solid red;
}
#minus-option:hover {
  background-color: rgb(255, 172, 172);
}

#plus-option {
  color: green;
  border: 10px solid green;
}
#plus-option:hover {
  background-color: rgb(153, 255, 153);
}

.expense-panel {
  padding: 20px;
  height: 100%;
  width: 50%;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background: #ffffffcc;
  border-radius: 8px;
  overflow: hidden;
}
.expense-table thead {
  background: #e6e6e6;
  font-weight: 600;
}
.expense-table th,
.expense-table td {
  padding: 12px 16px;
  text-align: left;
}
.expense-table tr:not(:last-child) td {
  border-bottom: 1px solid #dcdcdc;
}

/* Dark background overlay */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Popup box */
.popup {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 14px;
  height: 400px;
  width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  /* animation: scaleIn 0.2s ease; */
}

/* Buttons */
.popup-actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.popup-actions button {
  font-size: 30px;
  height: 50px;
  width: 50%;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.popup-actions .primary {
  background: green;
  color: white;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 18px 0;
}

.popup-form label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.popup-form input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
