.review-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-charts {
  margin-top: 100px;
  padding: 20px;
  width: 90%;
  height: 50%;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.charts {
  height: 91%;
  background-color: white;
  border-radius: 20px;
}

.month-info {
  margin-top: 20px;
  width: 90%;
  height: 20%;

  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.info {
  padding: 10px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #f0f0f0;
}
