.container {
  display: flex;
  width: 100%;
  height: 100vh;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

app-sidebar {
  height: 100vh;
  width: 20%;
  background-color: #4caf50;
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-manage-page,
app-review-page,
app-personalize-page {
  width: 100%;
  height: 100vh;
}

.main-content {
  height: 100vh;
  width: 80%;
  /* background-color: bisque; */
}
