.sidebar-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.user-img {
  margin-top: 20px;
  margin-bottom: 100px;
  height: 200px;
  width: 200px;
  background-image: url('../../../../Images/default-male-user-profile-icon-vector-illustration_276184-168.png');
  background-size: contain;
  background-position: center 20%;
  background-size: 125%;
  border-radius: 50%;
}

.option {
  color: black;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60px;
  background-color: #f0f0f0;
  margin-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #b4b4b4;
}

.option.active {
  background: #ffffff;
  color: #000000;
  font-weight: 600;
  transform: scale(1.05);
  cursor: default;
}
